<p id="notice"><%= notice %></p>

<h1 class="text-center">Membres</h1>

<table class="table" style="margin-top: 3em">
  <thead>
    <tr>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Admin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td>
          <% if user.admin %>
            <p>Oui</p>
          <% end %>
        </td>
        <td><%= link_to 'Voir', user, class: 'btn btn-primary btn-sm' %></td>
        <td><%= link_to 'Éditer', edit_user_path(user), 
                class: 'btn btn-default btn-sm' %></td>
        <td><%= link_to 'Supprimer', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouveau Membre', new_user_path %>
